@font-face {
    font-family: 'Helvetica LT Std Black';
    src: url('../font/HelveticaLTStdBlack.otf') format('opentype');
}

@font-face {
    font-family: 'Helvetica LT Std Light';
    src: url('../font/HelveticaLTStdLight.otf') format('opentype');
}


body{
    margin: 0;
    padding: 0;
    background-color: #FDFCFC;
    font-family: "Helvetica LT Std Light";
   
}

/* Mobile Menu */
input[type="checkbox"], .checkbox-image, #labelCheckbox, #mobileMenu {
    display: none;
}

/* Stile per Header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 23px;
    padding-left: 21px;
    padding-right: 21px;
    margin: 0 auto;
}

.leftSideHeader {
    display: flex;
    align-items: center;
}

.leftSideHeader img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.leftSideHeader p {
    font-size: 16px;
    font-family: "Helvetica LT Std Black";
}

.rightSideHeader ul {
    list-style: none;
    display: flex;
}

.rightSideHeader li a{
    margin-right: 20px;
    transition: 0.3s;
    color: black;
}
.rightSideHeader ul li a:hover{
    color: #E88D67;
    transition: 0.3s;
}

.rightSideHeader a {
    text-decoration: none;
    color: #333;
}

.containerIconMenuResponsive{
    display: none;
}

/* Fine stile Header */

/* Inizio Body Homepage */

.firstContainerHomepage{
    width: 90%;
    margin: 3% auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.leftSideContainerHomepage{
    margin: auto;

}

.leftSideContainerHomepage img{
    width: 90%;
    opacity: 1;
    animation: fadeIn;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.5s;
}

@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.rightSideContainerHomepage{
    margin: auto;
    width: 40%;
}

.rightSideContainerHomepage h1{
    font-size: 90px;
    color: #E88D67;
    line-height: 37px;
}

.rightSideContainerHomepage h2{
    font-size: 40px;
    line-height: 80px;
    width: 50%;
}

.secondContainerHomepage{
    width: 90%;
    margin: 2% auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.bottomSideContainerHomepage button{
    background-color: #E88D67;
    border: 2px solid transparent;
    color: white;
    font-weight: bold;
    padding: 15px 40px;
    border-radius: 30px;
    font-size: 16px;
    transition: 0.3s;

}

.headerSection{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 80%;
    margin: 0 auto;
}

.bottomSideContainerHomepage button:hover{
    background-color: white;
    border: 2px solid #E88D67;
    color: #E88D67;
    transition: 0.3s;
}

.bottomSideContainerHomepage button:active{
    background-color: #E88D67;
    border: 2px solid transparent;
    color: white;
    border-radius: 5px;

    transition: 0.3s;
}


/* Fine Body Homepage */


/* Stili comuni */
.rightSideHeader ul li, .bottomSideContainerHomepage button{
    cursor: pointer;
}

.content {
    display: flex;
    align-items: flex-start;
    width: 75%;
    margin: 0 auto;
}

.logosectionWork {
    width:24px;
    height:24px;
}

.title-subsection {
    display: flex;
    align-items: center;
    margin: 0% 1%;
    font-size: 3em;
}
.Gtitle-subsection {
    display: flex;
    align-items: center;
    margin:  0% 4%;
    font-size: 3em;
}


.leftSideContainerWorks {
    padding: 20px 20px 0px 60px;
}

.Subtitle-subsection {
    margin: 1% 13%;
    margin-bottom:50px;
}


.first-image {
    width: calc(40% - 20px);
    border-radius: 10px;
}

.second-image {
    width: calc(30% - 20px);
    border-radius: 10px;
    margin-left: -120px;
    margin-top: 210px;
}
.description {
    text-align: right;
    font-size: 30px;
    width: 400px;
    position: absolute;
    right: 160px;
    margin: 0;
}
.button-video {
    position: absolute;
    bottom:  0px;
    right: 170px; 
    background-color: #7B8CDE;
    color: white;
    padding: 17px 33px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 24px;
    font-weight:bold;
}
.button-artworks {
    background-color: #9999C3;
    position: absolute;
    bottom:  0px;
    right: 170px;
    color: white;
    padding: 17px 33px; 
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 24px; 
    font-weight:bold;
}
.button-foto {
    background-color: #C0E6DE;
    position: absolute;
    bottom:  0px; 
    right: 170px; 
    color: white;
    padding: 17px 33px; 
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 24px; 
    font-weight:bold;
    
}

.section {
    position: relative;
    margin-bottom: 80px;
    margin-top:40px;
}
.section-title {
    font-size: 4em;
    margin: 0%;
    color: #BB999C; /* Colore originale */
}

.section-title-video {
    font-size: 4em;
    margin: 0%;
    color: #7B8CDE; /* Colore variante 1 */
}

.section-title-artworks {
    font-size: 4em;
    margin: 0%;
    color: #9999C3; /* Colore variante 2 */
}

.section-title-foto {
    font-size: 4em;
    margin: 0%;
    color: #C0E6DE; /* Colore variante 3 */
}

hr {
   width: 90%;
}

/*Pagine Singole*/

.contentAbout {
    width: 75%;
    margin: 3% auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.leftSideContainerAbout {
    width: 60%;
}

.leftSideContainerAbout h1 {
    font-size: 3em;
    margin: 0;
}

.subtitle {
    font-size: 1.2em;
    font-family: "Helvetica LT Std Light", sans-serif;
    margin: 10px 0;
}

.rightSideContainer img {
    width: 300px;
    border-radius: 10px;
}


@media (max-width: 932px) {
   
    /* Regole per menu mobile */

    .checkbox-image {
        width: 30px;
        height: 30px;
        cursor: pointer;
        display: block;
    }

    #labelCheckbox{
        display: block;
    }
    
    input[type="checkbox"] {
        display: none;
    }
    #mobileMenu{
        display: none;
    }
    #myCheckbox:checked ~ #mobileMenu {
        display: block;
    }
#mobileMenu {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        z-index: 999;
    }
    
    #mobileMenu ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 15%;
        transform: translate(-50%, -50%);
        font-size: 30px;
    }
    
    #mobileMenu ul li {
        margin-bottom: 10px;
    }
    
    #mobileMenu ul li a {
        display: block;
        padding: 10px;
        text-align: left;
        color: black;
        font-weight: bold;
        text-decoration: none;
        transition: 0.3s;

    }


    #mobileMenu ul li a:hover {
        color: #E88D67;
        transition: 0.3s;

    }

    .close-menu{
        position: fixed;
        right: 20px;
        top: 20px;
        font-size: 22px;
        font-family: 'Helvetica LT Std Black';
        cursor: pointer;
        transition: 0.3s;
    }
    .close-menu:hover{
        font-size: 25px;
        transition: 0.3s;
    }

    /* Fine menu mobile */
    
    .rightSideHeader ul{
        display: none;
    }
    
    
    .firstContainerHomepage {
        width: 90%;
        margin: 3% auto;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .leftSideContainerHomepage img {
        width: 100%;
    }

    .rightSideContainerHomepage {
        margin: auto;
        width: auto;
    }

    .rightSideContainerHomepage h1 {
        font-size: 55px;
        color: #E88D67;
        margin: 0;
        line-height: 70px;
    }

    .rightSideContainerHomepage h2 {
        font-size: 36px;
        margin: 0;
        line-height: 55px;
        width: auto;
    }




.section {
    margin-bottom: 0px;
}


    .leftSideContainerWorks {
        padding: 20px 20px 20px 40px;
        margin: 0% 4%;
    }
    
    .section-title {
        font-size: 2em;
        margin: 0%;
        color: #BB999C;
    }

    .section-title-video {
        font-size: 2em;
        margin: 0%;
        color: #7B8CDE;
    }

    .section-title-artworks {
        font-size: 2em;
        margin: 0%;
        color: #9999C3;
    }

    .section-title-foto {
        font-size: 2em;
        margin: 0%;
        color: #C0E6DE;
    }

    .preface {
        font-size: 18pt;
        margin: 0%;

    }
    .title-subsection {
        display: flex;
        align-items: center;
        margin: 0% 4%;
        font-size: 2em;
    }
    .Gtitle-subsection {
        display: flex;
        align-items: center;
        margin: 0% 11%;
        font-size: 2em;
    }
    .Subtitle-subsection {
        margin: 1% 13%;
        margin-bottom:20px;
        margin-top:20px;
    }
    .headerSection{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        width: 80%;
        margin: 0% 4%;
    }








    #works {
        text-align: center;
      }
      
      #works h1 {
        font-size: 2em;
      }
      
      #video {
        margin-top: 20px;
      }
      
      #video h2 {
        font-size: 1.5em;
      }
      
      .thumbnails {
        display: flex;
        justify-content: center;
        gap: 15px;
        margin-top: 15px;
      }
      
      .thumbnails img {
        width: 100px; 
      }
      
      .btn {
        display: inline-block;
        margin-top: 20px;
        padding: 10px 15px;
        background-color: #007bff;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        transition: background-color 0.3s;
      }
      
      .btn:hover {
        background-color: #0056b3;
      }  
    

    /* inizio div class 'content' responsive */
    .content{
        display: flex;
    width: 80%;
    margin: 0 auto;
    align-items: baseline;

    }

    .first-image{
        width: 70% !important;
        margin: 0px 0 19px;
    }

    .second-image{
        width: 50% !important;
        position: relative;
        top: 40px;
        left:40px;
    }

    .description{
        text-align: left !important;
        position: absolute !important;
        left: 13%;
        width: 80% !important;
        margin: 0% auto !important;
        font-size: 16pt;
    }

    .button{
        position: relative !important;
        left: 9%;
        margin: 15% auto;
        padding: 12px 20px;
        font-size:14pt;
    }
    
    .button-video {
        position: relative !important;
        left: 9%;
        margin: 15% auto;
        padding: 12px 20px;
        font-size:14pt;
    }

    .button-artworks {
        position: relative !important;
        left: 9%;
        margin: 15% auto;
        padding: 12px 20px;
        font-size:14pt;
    }
    .button-foto {
        position: relative !important;
        left: 9%;
        margin: 15% auto;
        padding: 12px 20px;
        font-size:14pt;
    }
}

